/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333;
    color: #FFF;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override bootstrap header tag margins */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

/* Larger container width in large windows */
@media(min-width:1800px) {
    .container {
        width: 1740px;
    }
}

/* Squised Columns for Specific Indicators in large windows*/
@media(min-width:1200px) {
    .squish {
        padding-left: 0px;
        padding-right: 0px;
    }

        .squish:first-child {
            padding-left: 0px;
            padding-left: 15px;
        }

        .squish:nth-child(2) {
            padding-right: 5px;
            padding-left: 10px;
        }

        .squish:nth-child(3) {
            padding-right: 10px;
            padding-left: 5px;
        }

        .squish:last-child {
            padding-right: 0px;
            padding-right: 15px;
        }
}


/* Panels */
.panel {
    padding: 1em;
    background-color: #393939;
    margin-bottom: 2em;
    box-shadow: #111 0px 0px 20px;
    max-height: 50em;
    overflow-y: auto;
    overflow-x: hidden;
}


    /* Header Buttons */
    input.btn-header-summary {
        font-size: 20px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 0.3em;
    }

    input.btn-header-specific {
        font-size: 16px;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        margin-top: 0.4em;
    }

    /* Indicators */
    .indicator-container {
        margin-bottom: 0.8em;
    }

    .indicator-header {
        text-align: center;
        font-size: 1.7em;
        font-weight: 400;
    }

        .indicator-header.summary {
            font-size:2em;
            margin-top: 0.4em;
            margin-bottom: 0.4em;
        }

        .indicator-header.specific {
            text-align: left;
            margin-top: 0.2em;
            margin-bottom: 0.4em;
        }

    .indicator {
        position: relative;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        cursor: pointer;
    }


        .indicator:before {
            content: "";
            display: block;
            padding-top: 100%;
        }

        .indicator.summary {
            transition: all ease-in-out 0.1s;
            max-width: 200px;
            max-height: 200px;
            font-size: 3em;
            font-weight: 600;
            border-width: 10px;
            box-shadow: #111 0px 0px 0px;
            z-index:0;
        }
            .indicator.summary:hover {
                transform: scale(1.1);
                box-shadow: #111 0px 0px 20px;
                z-index: 5;
            }

        .indicator.specific {
            transition: all ease-in-out 0.1s;
            max-width: 100px;
            max-height: 100px;
            font-size: 1.65em;
            font-weight: 600;
            border-width: 5px;
            box-shadow: #111 0px 0px 0px;
            z-index: 0;
        }
            .indicator.specific:hover {
                transform: scale(1.2);
                box-shadow: #111 0px 0px 10px;
                z-index: 5;
            }

    /* Larger Indicators in large windows */
    @media(min-width:1800px) {
        .container {
            width: 1740px;
        }

        .indicator.summary {
            transition: all ease-in-out 0.1s;
            max-width: 200px;
            max-height: 200px;
            font-size: 5em;
            font-weight: 600;
            border-width: 10px;
            box-shadow: #111 0px 0px 0px;
            z-index: 0;
        }
            .indicator.summary:hover {
                transform: scale(1.1);
                box-shadow: #111 0px 0px 30px;
                z-index: 5;
            }

        .indicator.specific {
            transition: all ease-in-out 0.1s;
            max-width: 100px;
            max-height: 100px;
            font-size: 2.8em;
            font-weight: 600;
            border-width: 5px;
            box-shadow: #111 0px 0px 0px;
            z-index: 0;
        }
            .indicator.specific:hover {
                transform: scale(1.2);
                box-shadow: #111 0px 0px 15px;
                z-index: 5;
            }
    }

    .indicator-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .indicator-label {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .ok {
        border: solid lightgreen;
        background-color: #222;
        color: lightgreen;
    }

    .service {
        border: solid yellow;
        background-color: #222;
        color: yellow;
    }

    .triggered {
        border: solid orange;
        background-color: #222;
        color: orange;
    }

    .alarm {
        border: solid red;
        background-color: #222;
        color: red;
    }


/* Grid */
.grid {
    padding-left: 1em;
    padding-right: 1em;
}

.gridHeader {
    text-align: center;
    background-color: #222;
    color: white;
    position: sticky;
    border-top: 1px solid #222;
    border-radius:0.25em 0.25em 0 0;
    transition: all ease-in-out 0.1s;
}

    .gridHeader:hover {
        cursor: pointer;
        z-index: 10;
    }

.gridRow {
    color: white;
    border: none;
    transition: all ease-in-out 0.1s;
}

    .gridRow:last-child {
        border-radius: 0 0 0.25em 0.25em;
    }

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}

    .gridRow:hover {
        transition: all ease-in-out 0.1s;
        transform: scale(1.005);
        box-shadow: 0px 0px 10px 3px #222;
        z-index: 10;
    }

.gridCell {
    padding: 0.5em;
    border-right: 1px solid #222;
    transition: all ease-in-out 0.1s;
}

    .gridCell:last-child {
        border-right: none;
    }

    .gridCell:hover {
        transition: all ease-in-out 0.1s;
        border-radius: 0.25em;
        box-shadow: 0px 0px 5px 4px #007bff;
    }

.gridCellContent {
    font-size: 1.2em;
    font-weight: 600;
    pointer-events: none;
}

.gridRow.ok {
    background-color: #5F935F;
    border:none!important;
}

.gridRow.service {
    background-color: #9C9C0F;
    border: none !important;
}

.gridRow.triggered {
    background-color: #9C6A0F;
    border: none !important;
}

.gridRow.alarm {
    background-color: #9C0F0F;
    border: none !important;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* Fix for Bootstrap unequal column heights in Grid */
.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

    .row.display-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

/* Settings Cog */
#settingsCog {
    transition: all ease-in-out 0.3s;
    max-height: 2.5em;
}

    #settingsCog:hover {
        transition: all ease-in-out 0.3s;
        transform: rotate(180deg) scale(1.5);
    }
    #settingsCog:active {
        transform: rotate(-180deg) scale(1.4);
    }

/* Make the Checkboxes and Radio buttons bigger for settings panel */
input[type='radio'] {
    transform: scale(1.5);
}
input[type='checkbox'] {
    transform: scale(1.5);
}